input, select {
  width: 12rem;
}

.action-buttons {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20%;
}

.button {
  margin: 4px;
}

.duplicate-name-warning {
  color: #EE4B2B;
}

.duplicate-name-warning.hide {
  display: none;
}

.gray td {
  background-color: #aaadb3;
}

.input {
  width: 36rem;
}

.input-holder {
  display: flex;
  justify-content: start;
  align-items: center;
}

.input-label {
  text-align: right;
  padding-right: 8px;
  width: 24rem;
}

.people-table {
  margin-top: 12px;
}

.people-table td {
  width: 20rem;
  border: 2px solid #000000;
}

.people-table-header {
  font-weight: bold;
  background-color: #aaadb3;
}

.people-table-header td {
  border: 2px solid #000000;
}

@media (max-width: 700px) {
  .app {
    margin: 4px;
  }

  .input-holder {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .input-label {
    text-align: left;
  }
}
